#
# Documentation is here: http://git-scm.com/docs/gitignore
#
tmp/
#
#  I switch between vi, netbeans, and eclipse
#
*.swp
/nbproject/
/.buildpath
/.project
/.settings/

#
# Ignore third-party device detection code
#
/modules/jmws/idmygadget/src/JmwsIdMyGadget/gadget_detectors/detect_mobile_browsers/php/detectmobilebrowser.php.txt
/modules/jmws/idmygadget/src/JmwsIdMyGadget/gadget_detectors/mobile_detect/Mobile-Detect/
/modules/jmws/idmygadget/src/JmwsIdMyGadget/gadget_detectors/tera_wurfl/Tera-Wurfl/wurfl-dbapi*

